@layout('layout')
@set('title', 'NewsUpdate')
@section('body')
@if ( access.pageAdmin == 'yes' )

<div class="app-ecommerce container-xxl container-p-y flex-grow">
    <!-- Add Product -->
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3">
      <div class=" row col d-flex  text-center">
      </div>
    </div>
  
    <div class="row col d-flex justify-content-center">
      <!-- First column-->
      <div class="col-12 col-lg-10"> <!-- เปลี่ยน col-lg-8 เป็น col-lg-10 เพื่อให้ขยายขนาดใหญ่ขึ้น -->
        <!-- Product Information -->
        <div class="card mb-4">
          <div class="card-header">
            <h4 class="card-tile mb-0">Update News</h4>
                      </div>
          <div class="col-12">
            <!-- Role Table -->
            <div class="card">
              <div class="card-datatable table-responsive">
                <table class="table border-top">
                  <thead>
                    <tr>
                      <th></th>
                      <th>ID</th>
                      <th>Title</th>
                      <th>Description</th>
                      <th>Image</th>
                      <th style="justify-content:center; display:flex">Edit</th>
                      <th style="justify-content:center">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    @each(item in news.data)
                    <tr>
                        <td></td>
                        <td>{{ item.id }}</td>
                        <td><a href="{{route('news.content', {id:item.id})}}">{{ item.title }}</a></td>
                        <td>{{ item.description.length > 50 ? item.description.substr(0, 50) + '...' : item.description }}</td>
                        <td><img src="{{ item.img_url }}" style="height: 60px; width: 95px;"></td>
                        <td>
                          <a href="{{route('news.update.page', {id:item.id})}}"  style=" text-transform: uppercase;" class="btn btn-warning" id="type-warning">Edit</a>                      
                        </td>
                        @if(item.status == 'show')
                        <td>
                          <a href="{{route('news.status', {id:item.id})}}" style=" text-transform: uppercase;height: 39px; width: 75px;" class="btn btn-primary" id="type-primary">{{item.status}}</a>
                        </td>
                        @else
                        <td>
                          <a href="{{route('news.status', {id:item.id})}}" style=" text-transform: uppercase;height: 39px; width: 75px;" class="btn btn-secondary" id="type-secondary">{{item.status}}</a>
                        </td>
                        @endif
                        
                    </tr>
                    @endeach
                    
                </tbody>
                </table>
        
              </div>
            </div>
            <!--/ Role Table -->
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
  var quill = new Quill('#editor', {
    modules: {
      toolbar: [
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
        ['bold', 'italic', 'underline'],
        ['image']
      ]
    },
    theme: 'snow'
  });

  document.getElementById('myForm').addEventListener('submit', function(event) {
    var message = quill.root.innerHTML;
    document.getElementById('content').value = message;  // Set the value of the hidden input field
  });
</script>
@else
<!-- Error -->
<div class="container-xxl container-p-y">
    <div class="misc-wrapper d-grid justify-content-center">
      <h2 class="mb-1 mt-4">Page Not Found :|</h2>
      <p class="mb-4 mx-2">Oops! 😖 The requested URL was not found on this server.</p>
      <div class="mt-4">
        <img
          src="../../assets/img/illustrations/page-misc-error.png"
          alt="page-misc-error"
          width="225"
          class="img-fluid" />
      </div>
    </div>
  </div>
  <div class="container-fluid misc-bg-wrapper">
    <img
      src="../../assets/img/illustrations/bg-shape-image-light.png"
      alt="page-misc-error"
      data-app-light-img="illustrations/bg-shape-image-light.png"
      data-app-dark-img="illustrations/bg-shape-image-dark.png" />
  </div>    
  @endif
@end
